
    body {
        padding: 5% 15%;
        background-color: #f9f1e9;
    }

    #card {
        margin-left: auto;
        margin-right: auto;
        width: 61%;
        height: 61%;
        background-color: #fff;
    }

    /*
       Desings for the left side
    */

    #left-side {
        padding: 0;
    }

    #product-img {
        width: 100%;
        height: 100%;
    }

    /*
      Designs for the right side
    */

    #right-side {
        padding-left: 5%;
    }

    #right-side > #pricing > h1 {
        font-size: 2rem;
        color: #0d450a;
    }

    #right-side > #pricing > p {
        text-decoration-line: line-through;
        color: #827a71;
    }

    #right-side > h1{
        font-size: 2.5rem;
        font-weight: 900;
        line-height: 1;
        margin-bottom: 1rem;
    }

    #right-side > p {
        font-size: 1rem;
        padding: 3%;
        color: #827a71;
    }


    #add-cart {
        margin-bottom: 1rem;
        margin-left: auto;
        margin-right: auto;
    }


    .attribution {
        width: 61%;
        margin: auto;
        text-align: center;
    }